@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Team Up</h1>
                <p class="lead">Individually, you are one drop. Together you are an ocean.</p>
                <p><a href="mailto: andrej.antevski99@gmail.com" class="btn btn-primary btn-lg">Contact »</a></p>
            </div>
            <div class="col-md-6">
                <img src="~/Images/Logos/logoIt.png" width="300"/>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create a Team</h2>
        <p>
            You have a great idea, but you are feeling overwhelmed, and can't do it on your own? You tried calling your friends, but they don't have the time or the skills to fill in the vacant positons?
            Simply create a team, write what is it all about, and wait for people to apply for roles, you have chosen!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Find A Team</h2>
        <p>
            If you want to improve your skills, want to be part of some project and learn to work in a team, or simply haven't found a partnet for the faculty project, you can search a team, find a role
            that you think you can fill and apply. Simple as that!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Resume</h2>
        <p>
            You can improve your chances of getting new members for your team, or someone accepting your invitation by creating a resume, that can be seen by everyone. There you can tell us your education, experiences so far, 
            technologies, languages, frameworks that you know, grade your skills for them, and optionally add a comment what makes you so experienced in that field. You can also put links to your social media or github, linkedin...
        </p>
    </div>
</div>